.wrapper {
  box-sizing: border-box;

  .about {
    .introduction {
      text-align: justify;
    }

    .myname {
      font-size: x-large;
      background-image: linear-gradient(
        to bottom right,
        #00fff2,
        #78f5ef,
        #dffffd
      );
      background-clip: border-box;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  .image {
    width: 400px;

    .profile-image {
      display: block;
      width: 100%;
      border-radius: 50%;
    }
  }

  h2 {
    font-size: xx-large;
  }

  ul {
    list-style: none;
    padding-left: 1.5em;

    li {
      position: relative;
      padding-left: 1.5em; /* Adjust the left padding to make room for the custom bullets */
      margin-bottom: 0.5em; /* Optional: Add some space between list items */

      &::before {
        content: "\2726"; /* Unicode for a 4-point star */
        position: absolute;
        left: 0;
        font-size: 1em; /* Adjust the size of the star */
        color: #00fff2; /* Optional: Change the color of the star */
      }
    }
  }
}

@media (max-width: 830px) {
  .wrapper {
    .about {
      .myname {
        font-size: larger;
      }
    }

    .image {
      max-width: 300px;
    }

    .projects {
      width: 100%;
    }
  }
}

@media (min-width: 2000px) {
  .wrapper {
    .about {
      .myname {
        font-size: xx-large;
      }
    }

    .image {
      min-width: 500px;
    }
  }
}
