.wrapper {
  box-sizing: border-box;

  .about {
    
    .introduction {
      text-align: justify;
    }
  }

  .image {
    width: 30%;

    .profile-image {
      border-radius: 50%;
    }
  }
}

@media (max-width: 768px) {
  .wrapper {
    .image {
      width: 100%;
    }
  }
}