<div class="wrapper">
  <div class="row gap-2">
    <div class="column justify-center">
      <div class="row align-center">
        <div class="column image fastBorderColour">
          <img
            src="/public/assets/profile_image.webp"
            alt="Profile Image"
            class="profile-image"
          />
        </div>
      </div>
    </div>

    <div class="column about">
      <h1 class="mb-5"><span class="smoothColour">About</span></h1>
      <p class="introduction">
        Hello! I'm <b class="fastColour">Lu Hou Yang</b>, currently pursuing a
        Bachelor's degree in Computer Science at Universiti Teknologi PETRONAS.
        Born and raised in Sabah, Malaysia, I have a strong passion for
        technology and innovation. My interests span across Web/App Development,
        AI/ML, Raspberry Pi projects, and Computer Hardware. When I'm not
        coding, you can find me playing the piano.
      </p>
      <br />
      <h3><span class="smoothColour">Technical Skills</span></h3>
      <ul>
        <li><b>Programming Languages</b>: Python, Dart, Java, C++</li>
        <li>
          <b>Frameworks/Technologies</b>: Flutter, Firebase, Google Cloud
          Platform, Cloudflare, GitHub, Angular
        </li>
      </ul>

      <br />
      <h3><span class="smoothColour">Activities and Involvements</span></h3>
      <ul>
        <li>
          <b>Workshops</b>: Shared in TensorFlow, Flutter, & Firebase workshops
        </li>
        <li>
          <b>Hackathons</b>: Actively joining hackathons to challenge myself &
          collaborate with other tech enthusiast
        </li>
        <li>
          <b>Event Organization</b>: Serving as committee member to organize
          various tech & non-tech events
        </li>
      </ul>

      <p>
        I am always eager to learn and grow in the tech field, and I look
        forward to contributing my skills to exciting and impactful projects.
      </p>
    </div>
  </div>
</div>
