<div class="wrapper">
  <div class="column gap-4">
    <!-- PROFILE PIC & SELF INTRO -->
    <div class="row gap-2 selfintro">
      <div class="column justify-center">
        <div class="row align-center">
          <div class="column image">
            <img
              src="/public/assets/profile_image.webp"
              alt="Profile Image"
              class="profile-image"
            />
          </div>
        </div>
      </div>

      <div class="about column justify-center">
        <p>Hello! I'm</p>
        <div class="myname">
          <h1><span class="fastColour">Lu Hou Yang</span></h1>
        </div>
        <p class="introduction">
          currently pursuing a Bachelor's degree in Computer Science at
          Universiti Teknologi PETRONAS. I have a strong passion for technology
          and innovation. My interests span across Web/App Development, AI/ML,
          Raspberry Pi projects, and Computer Hardware. When I'm not coding, you
          can find me playing the piano.
        </p>

        <br />
        <p>
          I am always eager to learn and grow in the tech field, and I look
          forward to contributing my skills to exciting and impactful projects.
        </p>
      </div>
    </div>

    <!-- Open Source Contributions, FYP Progress, UTP Google Classroom -->
    <div class="ongoing">
      <h2><span class="smoothColour">Ongoing Projects</span></h2>
      <hr class="solid" />
      <div class="row gap-2 mt-36 mb-16">
        <div class="column">
          <img
            src="/public/assets/gdsc_utp_logo.webp"
            alt="Google Classroom Image"
            class="image"
          />
          <div class="description">
            <p>
              Google Classroom started to share workshop materials to all UTP
              students and other interested people. With hands-on tutorians and
              full explainations on latest technologies such as TensorFlow,
              Flutter, Firebase, GitHub and more. The materials are maintained
              by me and my friends as a side project and initiative to raise
              technicality level of students.
            </p>
            <a
              href="https://classroom.google.com/c/NjkzNzI5NzE5NTUy?cjc=tlab4o7"
              class="secondary-square-button"
              target="_blank"
              rel="noopener"
              >Join Google Classroom</a
            >
          </div>
        </div>

        <div class="column">
          <img
            src="/public/assets/seenredlong_padded.webp"
            alt="SEEN NGO"
            class="image"
          />
          <div class="description">
            <p>
              I developed a dynamic website for Sabah Entitlement & Equity Now
              (SEEN), a youth-driven NGO focused on educating and empowering
              Sabahans about their rights. The site highlights key social,
              economic, and political issues, providing an accessible platform
              for the youth of Sabah to stay informed and engaged.
            </p>
            <a
              href="https://seen-ngo-website.pages.dev/"
              class="secondary-square-button"
              target="_blank"
              rel="noopener"
              >Visit Site</a
            >
          </div>
        </div>

        <div class="column">
          <img
            src="https://primefaces.org/cdn/primeng/images/card-ng.jpg"
            alt="Coming Soon!"
            class="image"
          />
          <div class="description">
            <p>
              Exciting new content is on the way! Stay tuned for updates and be
              the first to discover what's coming next. Check back soon for more
              details and information!
            </p>
            <a
              href="https://classroom.google.com/c/NjkzNzI5NzE5NTUy?cjc=tlab4o7"
              class="secondary-square-button"
              target="_blank"
              rel="noopener"
              >Coming Soon!</a
            >
          </div>
        </div>
      </div>
    </div>

    <!-- Activities from Workshops, Performances, Others -->
    <div>
      <h2><span class="smoothColour">Activities and Involvements</span></h2>
      <hr class="solid" />
      <ul>
        <li>
          <b>Workshops</b>: Trainer in TensorFlow, Flutter, & Firebase workshops
        </li>
        <li>
          <b>Hackathons</b>: Actively joining hackathons to challenge myself &
          collaborate with other tech enthusiast
        </li>
        <li>
          <b>Organizing Events</b>: Serving as committee member to organize
          various tech & non-tech events
        </li>
      </ul>

      <div class="activities">
        <div class="row gap-2 mt-36 mb-16">
          <div class="column">
            <div class="">
              <img
                src="/public/assets/activities/events/oweek_may/p1.webp"
                alt="SEEN NGO"
                class="image"
              />
            </div>
            <div class="description">
              <p>
                Oweek May 2024 at UTP welcomes new students, helping them
                transition smoothly into university life through campus tours,
                ice-breaking activities, workshops, and introductions to
                academic resources, clubs, and societies. The event fosters a
                supportive and inclusive environment to kickstart their academic
                journey.
              </p>
            </div>
          </div>

          <div class="column">
            <div class="">
              <img
                src="/public/assets/seenredlong_padded.webp"
                alt="SEEN NGO"
                class="image"
              />
            </div>
            <div class="description">
              <p>
                I developed a dynamic website for Sabah Entitlement & Equity Now
                (SEEN), a youth-driven NGO focused on educating and empowering
                Sabahans about their rights. The site highlights key social,
                economic, and political issues, providing an accessible platform
                for the youth of Sabah to stay informed and engaged.
              </p>
            </div>
          </div>

          <div class="column">
            <div class="">
              <img
                src="/public/assets/activities/workshop/flutterfire/p1.webp"
                alt="Flutter Firebase Workshop"
                class="image"
              />
            </div>
            <div class="description">
              <p>
                Conducted a Flutter and Firebase full-stack workshop at UTP,
                teaching students to build cross-platform applications.
                Final-year students applied the concepts learned to their
                projects, highlighting the practical impact of the workshop. The
                session covered essential development skills and fostered
                hands-on learning for all participants.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Logo of Tech Stack -->
    <div>
      <h2><span class="smoothColour">Technical Skills</span></h2>
      <hr class="solid" />
      <ul>
        <li><b>Programming Languages</b>: Python, Dart, Java, C++</li>
        <li>
          <b>Frameworks/Technologies</b>: Flutter, Firebase, Google Cloud
          Platform, Cloudflare, GitHub, Angular
        </li>
      </ul>
    </div>
  </div>
</div>
