.wrapper {
  --header-height: 80px;

  width: 100%;
  height: var(--header-height);

  box-sizing: border-box;

  position: fixed;
  z-index: 900;

  background-color: var(--primary-bg);

  .logolink {
    margin-right: auto;

    .logo {
      margin-top: 25px;
      height: 40px;
    }
  }

  .navigation {
    margin-top: 20px;

    height: 60px;
  }

  // burger menu
  .burger-menu {
    display: none;
    color: var(--primary-color);
    font-size: 30px;
    cursor: pointer;
    margin-right: 15px;
    z-index: 1000;
  }

  .close-btn {
    display: none;
    color: var(--primary-color);
    top: 15px;
    margin-right: 15px;
    font-size: 36px;
    cursor: pointer;
    z-index: 1000;
  }

  .side-menu {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    background-color: var(--secondary-bg);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    z-index: 999;

    a {
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 25px;
      color: white;
      display: block;
      transition: 0.3s;
    }

    a:hover {
      color: var(--primary-color);
    }
  }
}

@media screen and (max-width: 768px) {
  .row {
    flex-direction: row;
  }

  .burger-menu {
    display: inline !important;
  }

  .row.navigation {
    display: none !important;
  }
}
