<header class="wrapper">
  <div class="row space-between px-16">
    <a
      class="logolink"
      routerLink="/"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <img src="/public/assets/darkmode.svg" alt="Logo Image" class="logo" />
    </a>

    <!-- Burger Menu -->
    <div class="burger-menu" id="burgerMenu" (click)="openSideMenu()">
      &#9776;
    </div>
    <div class="close-btn" id="closeBtn" (click)="closeSideMenu()">&times;</div>

    <!-- Side Menu -->
    <div class="side-menu" id="sideMenu">
      <a
        class=""
        routerLink="/"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }"
        >About</a
      >
      <a class="" routerLink="gh" routerLinkActive="active-link">GitHub</a>
      <a class="" routerLink="projects" routerLinkActive="active-link"
        >Projects</a
      >
      <a class="" routerLink="activities" routerLinkActive="active-link"
        >Activities</a
      >
      <a class="" routerLink="contact" routerLinkActive="active-link"
        >Contact</a
      >
    </div>

    <!-- Regular Navigation -->
    <div class="row navigation">
      <a
        class="primary-borderless-button"
        routerLink="/"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }"
        >About</a
      >
      <a
        class="primary-borderless-button"
        routerLink="gh"
        routerLinkActive="active-link"
        >GitHub</a
      >
      <a
        class="primary-borderless-button"
        routerLink="projects"
        routerLinkActive="active-link"
        >Projects</a
      >
      <a
        class="primary-borderless-button"
        routerLink="activities"
        routerLinkActive="active-link"
        >Activities</a
      >
      <a
        class="primary-borderless-button"
        routerLink="contact"
        routerLinkActive="active-link"
        >Contact</a
      >
    </div>
  </div>
</header>
