<div class="wrapper">
  <!-- BIG SCREEN -->
  <div class="big-screen column gap-1">
    <div class="row" id="googleclassroom">
      <img
        src="/public/assets/gdsc_utp_logo.webp"
        alt="Google Classroom Image"
        class="image"
      />
      <div class="description">
        <p>
          Google Classroom started to share workshop materials to all UTP
          students and other interested people. With hands-on tutorians and full
          explainations on latest technologies such as TensorFlow, Flutter,
          Firebase, GitHub and more. The materials are maintained by me and my
          friends as a side project and initiative to raise technicality level
          of students.
        </p>
        <a
          href="https://classroom.google.com/c/NjkzNzI5NzE5NTUy?cjc=tlab4o7"
          class="secondary-square-button"
          target="_blank"
          rel="noopener"
          >Join Google Classroom</a
        >
      </div>
    </div>

    <div class="row" id="seenngo">
      <img
        src="/public/assets/seenredlong_padded.webp"
        alt="SEEN NGO"
        class="image"
      />
      <div class="description">
        <p>
          As part of Sabah Entitlement & Equity Now (SEEN), a youth-driven NGO
          focused on educating and empowering Sabahans about their rights. I've
          developed a user-friendly and informative website to attract
          volunteers and further our cause. The site highlights key social,
          economic, and political issues, providing an accessible platform for
          the youth of Sabah to stay informed and engaged.
        </p>
        <a
          href="https://seen-ngo-website.pages.dev/"
          class="secondary-square-button"
          target="_blank"
          rel="noopener"
          >Visit Site</a
        >
      </div>
    </div>

    <div class="row" id="bb">
      <img
        src="https://primefaces.org/cdn/primeng/images/card-ng.jpg"
        alt="Coming Soon!"
        class="image"
      />
      <div class="description">
        <p>
          Exciting new content is on the way! Stay tuned for updates and be the
          first to discover what's coming next. Check back soon for more details
          and information!
        </p>
        <a
          href="https://classroom.google.com/c/NjkzNzI5NzE5NTUy?cjc=tlab4o7"
          class="secondary-square-button"
          target="_blank"
          rel="noopener"
          >Coming Soon!</a
        >
      </div>
    </div>
  </div>
</div>
