.wrapper {
  box-sizing: border-box;

  .image {
    width: 50%;
    height: auto;
    object-fit: cover;
  }

  .description {
    top: 20px; /* Adjust as needed */
    right: 20px; /* Adjust as needed */
    // background-color: #ff5722; /* Solid color background */
    background-color: var(--medium-blue);
    color: white;
    padding: 20px;
    clip-path: polygon(0 0, 100% 0, 100% 75%, 75% 100%, 0 100%);
    width: auto; /* Adjust width as needed */
    box-sizing: border-box;
  }

  .description p {
    margin: 0;
    line-height: 1.5;
  }

  .button {
    display: inline-block;
    background-color: #ffffff;
    // color: #ff5722;
    color: var(--medium-blue);
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 10px;
  }
}

// resizing
@media (max-width: 768px) {
  .wrapper {
    .image {
      width: 100%;
    }

    .description {
      clip-path: none;
    }
  }
}
