.wrapper {
  box-sizing: border-box;

  .image {
    // width: 55%;
    max-width: 700px;

    height: 400px;

    object-fit: cover;
  }

  .description {
    top: 20px; /* Adjust as needed */
    right: 20px; /* Adjust as needed */
    // background-color: #ff5722; /* Solid color background */
    background-color: var(--medium-blue);
    color: white;
    padding: 20px;
    clip-path: polygon(0 0, 100% 0, 100% 75%, 75% 100%, 0 100%);
    width: auto; /* Adjust width as needed */
    box-sizing: border-box;
  }

  .description p {
    margin: 0;
    line-height: 1.5;
  }
}

// resizing
@media (max-width: 768px) {
  .wrapper {
    .image {
      width: 100%;
    }

    .description {
      clip-path: none;
    }
  }
}
