<div class="wrapper">
  <!-- <div class="column gap-2">
    <app-card-item
      class=""
      *ngFor="let project of ongoingProjectList"
      [cardInfo]="project"
    ></app-card-item>
  </div> -->

  <div class="column">
    <div class="row mb-25" id="cc">
      <img
        src="https://primefaces.org/cdn/primeng/images/card-ng.jpg"
        alt="Coming Soon!"
        class="image"
      />
      <div class="description">
        <p>
          Exciting new content is on the way! Stay tuned for updates and be the
          first to discover what’s coming next. Check back soon for more details
          and information!
        </p>
        <a
          href="https://classroom.google.com/c/NjkzNzI5NzE5NTUy?cjc=tlab4o7"
          class="button"
          target="_blank"
          rel="noopener"
          >Coming Soon!</a
        >
      </div>
    </div>
  </div>

  <div class="row mb-25" id="gg">
    <img
      src="https://primefaces.org/cdn/primeng/images/card-ng.jpg"
      alt="Coming Soon!"
      class="image"
    />
    <div class="description">
      <p>
        Exciting new content is on the way! Stay tuned for updates and be the
        first to discover what’s coming next. Check back soon for more details
        and information!
      </p>
      <a
        href="https://classroom.google.com/c/NjkzNzI5NzE5NTUy?cjc=tlab4o7"
        class="button"
        target="_blank"
        rel="noopener"
        >Coming Soon!</a
      >
    </div>
  </div>

  <div class="row mb-25" [routerLink]="['/projects', '']" fragment="googleclassroom" id="googleclassroom">
    <img
      src="/public/assets/gdsc_utp_logo.webp"
      alt="Google Classroom Image"
      class="image"
    />
    <div class="description">
      <p>
        Google Classroom started to share workshop materials to all UTP students
        and other interested people. With hands-on tutorians and full
        explainations on latest technologies such as TensorFlow, Flutter,
        Firebase, GitHub and more. The materials are maintained by me and my
        friends as a side project and initiative to raise technicality level of
        students.
      </p>
      <a
        href="https://classroom.google.com/c/NjkzNzI5NzE5NTUy?cjc=tlab4o7"
        class="button"
        target="_blank"
        rel="noopener"
        >Join Google Classroom</a
      >
    </div>
  </div>
</div>
