.wrapper {
  box-sizing: border-box;

  padding-bottom: 36px;

  .big-screen {
    gap: 2rem;

    .image {
      // width: 55%;
      max-width: 700px;

      height: 400px;

      object-fit: cover;
    }

    .description {
      top: 20px; /* Adjust as needed */
      right: 20px; /* Adjust as needed */
      padding: 20px;
      width: auto; /* Adjust width as needed */
    }

    .description p {
      margin: 0;
      line-height: 1.5;
    }
  }
}

// resizing
@media (max-width: 768px) {
  .wrapper {
    .big-screen {
      .image {
        height: auto;
        width: 100%;

        object-fit: fill;
      }

      .description {
        clip-path: none;
      }
    }
  }
}
