<div class="wrapper">
  <!-- BIG SCREEN -->
  <div class="big-screen column gap-1">
    <div class="row" id="googleclassroom">
      <img
        src="/public/assets/ongoing/gdsc_utp_logo.webp"
        alt="Google Classroom Image"
        class="image"
      />
      <div class="description">
        <p>
          Google Classroom started to share workshop materials to all UTP
          students and other interested people. With hands-on tutorians and full
          explainations on latest technologies such as TensorFlow, Flutter,
          Firebase, GitHub and more. The materials are maintained by me and my
          friends as a side project and initiative to raise technicality level
          of students.
        </p>
        <a
          href="https://classroom.google.com/c/NjkzNzI5NzE5NTUy?cjc=tlab4o7"
          class="secondary-square-button"
          target="_blank"
          rel="noopener"
          >Join Google Classroom</a
        >
      </div>
    </div>

    <div class="row" id="seenngo">
      <img
        src="/public/assets/ongoing/seenredlong_padded.webp"
        alt="SEEN NGO"
        class="image"
      />
      <div class="description">
        <p>
          As part of Sabah Entitlement & Equity Now (SEEN), a youth-driven NGO
          focused on educating and empowering Sabahans about their rights. I've
          developed a user-friendly and informative website to attract
          volunteers and further our cause. The site highlights key social,
          economic, and political issues, providing an accessible platform for
          the youth of Sabah to stay informed and engaged.
        </p>
        <a
          href="https://seen-ngo-website.pages.dev/"
          class="secondary-square-button"
          target="_blank"
          rel="noopener"
          >Visit Site</a
        >
      </div>
    </div>

    <div class="row" id="pmf">
      <img
        src="/public/assets/ongoing/pmf_logo.png"
        alt="Coming Soon!"
        class="image"
      />
      <div class="description">
        <p>
          Event management executive committee for Petrobots Maker Fair. This
          event aims to introduce robotics skills and providing a platform
          especially for UTP students to engage with different companies that
          specialize in engineering fields such as artificial intelligence,
          robotics, and drones through exhibitions and workshops.
        </p>
        <a
          href="https://www.instagram.com/petrobotsmakerfair.utp?igsh=MTVhYzNrOWl5eTA4dQ=="
          class="secondary-square-button"
          target="_blank"
          rel="noopener"
          >View Socials</a
        >
      </div>
    </div>

    <div class="row" id="gdggtdevfest2024">
      <img
        src="/public/assets/ongoing/devfest_resized.webp"
        alt="DevFest George Town 2024"
        class="image"
      />
      <div class="description">
        <p>
          Organizing committee of DevFest George Town 2024. DevFest is a global
          developer conference hosted by Google Developer Groups (GDGs)
          worldwide. These community-organized events focus on learning,
          building, and connecting with fellow developers and tech
          practitioners. They offer a variety of activities, including technical
          talks, workshops, and networking opportunities.
        </p>
        <a
          href="https://gdg.community.dev/events/details/google-gdg-george-town-presents-devfest-george-town-2024/"
          class="secondary-square-button"
          target="_blank"
          rel="noopener"
          >Visit DevFest Page</a
        >
      </div>
    </div>
  </div>
</div>
