<div class="wrapper">
  <div class="">
    <div class="activities">
      <h2><span class="smoothColour">Workshops</span></h2>
      <hr class="solid" />
      <div class="row gap-2 mt-36 mb-16">
        <div class="column">
          <div class="">
            <img
              src="/public/assets/activities/workshop/flutterfire/p1.webp"
              alt="Flutter Firebase Workshop"
              class="image"
            />
          </div>
          <div class="description">
            <p>
              Conducted a Flutter and Firebase full-stack workshop at UTP,
              teaching students to build cross-platform applications. Final-year
              students applied the concepts learned to their projects,
              highlighting the practical impact of the workshop. The session
              covered essential development skills and fostered hands-on
              learning for all participants.
            </p>
          </div>
        </div>
        <div class="column">
          <div class="">
            <img
              src="/public/assets/activities/workshop/ocr_cnn_tf/teaching_cropped.webp"
              alt="OCR CNN Workshop"
              class="image"
            />
          </div>
          <div class="description">
            <p>
              Spoke at a workshop on Optical Character Recognition using CNNs
              with TensorFlow at UTP. The session gave students practical
              insights into building ML models, and it was great to see them
              grasp the concepts and apply them in real-world scenarios. It was
              a hands-on and engaging learning experience for everyone!
            </p>
          </div>
        </div>
      </div>

      <h2><span class="smoothColour">Organizing Events</span></h2>
      <hr class="solid" />
      <div class="row gap-2 mt-36 mb-16">
        <div class="column">
          <div class="">
            <img
              src="/public/assets/activities/events/oweek_may/p1.webp"
              alt="OWEEK May 2024"
              class="image"
            />
          </div>
          <div class="description">
            <p>
              Oweek May 2024 at UTP welcomes new students, helping them
              transition smoothly into university life through campus tours,
              ice-breaking activities, workshops, and introductions to academic
              resources, clubs, and societies. The event fosters a supportive
              and inclusive environment to kickstart their academic journey.
            </p>
          </div>
        </div>

        <div class="column">
          <div class="">
            <img
              src="/public/assets/activities/events/cave_2024/CAVE.webp"
              alt="Campus Venture CAVE 2024"
              class="image"
            />
          </div>
          <div class="description">
            <p>
              Served as Head of Public Relations for Campus Venture (CAVE) 2024
              at UTP, an event that attracted over 1,000 students and 80 clubs
              and societies. It was an incredible experience managing
              communications and contributing to such a large-scale and
              impactful event!
            </p>
          </div>
        </div>

        <div class="column">
          <div class="">
            <img
              src="/public/assets/activities/events/yss_2024/yss.webp"
              alt="Youth Sustainability Summit"
              class="image"
            />
          </div>
          <div class="description">
            <p>
              Participated in the Youth Sustainability Summit, a grassroots
              movement dedicated to driving sustainability. It was inspiring to
              connect with others who are passionate about making a real
              difference for our planet!
            </p>
          </div>
        </div>
      </div>

      <h2><span class="smoothColour">Hackathons</span></h2>
      <hr class="solid" />
      <div class="row gap-2 mt-36 mb-16">
        <div class="column">
          <div class="">
            <img
              src="/public/assets/activities/hackathon/e3s2/bannerphotokneeling.webp"
              alt="E3S2 Hackhaton Champion"
              class="image"
            />
          </div>
          <div class="description">
            <p>
              Super excited that our team won the E3S2 Hackathon at UTP! I
              worked on the app as a developer, and it feels awesome to see our
              hard work pay off. Big thanks to my team for making this happen!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
