.wrapper {
  box-sizing: border-box;

  padding-top: 4px;
  margin: 24px;

  .activities {
    h2 {
      margin-top: 32px;
      font-size: xx-large;
    }

    .row {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      gap: 16px;

      .image {
        width: 100%;
        max-height: 350px;
        // min-width: 350px;
        // min-height: 100px;
        object-fit: cover;

        aspect-ratio: 4 / 3;

        border-top-left-radius: var(--border-radius-1);
        border-top-right-radius: var(--border-radius-1);
      }
    }

    .column {
      min-width: 30%;
      max-width: 30%;
      background-color: var(--highlight-2);
      // border: 1.5px solid var(--secondary-color);
      border-radius: var(--border-radius-1);
      flex: 1;
    }

    .column:hover {
      border: 1.5px solid var(--secondary-color);
    }

    .description {
      margin: 16px;
    }
  }
}

@media (max-width: 880px) {
  .wrapper {
    .activities {
      .image {
        max-height: 250px !important;
        min-width: 0 !important;
        min-height: 0 !important;
      }

      .column {
        max-width: 100% !important;
      }
    }
  }
}
