.wrapper {
  height: 120px;

  box-sizing: border-box;

  .ft {
    height: 100%;

    .footer-link {
      padding-left: 8px;
      padding-right: 8px;

      text-decoration: none;
      color: var(--tertiary-color);
    }
    .footer-link:hover {
      color: var(--primary-color);
    }

    .social-links {
      a {
        svg {
          fill: var(--secondary-color);
        }
      }

      a:hover {
        svg {
          fill: var(--primary-color);
        }
      }
    }

    .copyright {
      font-size: 0.875rem;
    }
  }
}

@media (max-width: 960px) {
  .row {
    flex-direction: row;
  }

  .column {
    flex-direction: column;
  }
}

@media (max-width: 500px) {
  .row {
    flex-direction: row;
  }

  .column {
    flex-direction: column;
  }

  a,
  p {
    font-size: smaller;
  }
}
