/* You can add global styles to this file, and also import other style files */
@import "./styles/variables.scss";
@import "./styles/theme-overrides.scss";
@import "primeicons/primeicons.css";
@import "primeng/resources/themes/lara-dark-blue/theme.css";
@import "primeng/resources/primeng.css";

html,
body,
p,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
app-root {
  height: 100%;
}

app-root {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

// box model, margin, border, padding
.ml-5 {
  margin-left: 5px;
}

.mt-5 {
  margin-top: 5px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-25 {
  margin-top: 25px;
}

.mb-5 {
  margin-bottom: 5px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-25 {
  margin-bottom: 25px;
}

.py-5 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.py-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.px-5 {
  padding-left: 5px;
  padding-right: 5px;
}

.px-10 {
  padding-left: 10px;
  padding-right: 10px;
}

.wrap {
  flex-wrap: wrap;
}

.gap-05 {
  gap: 0.5rem;
}

.gap-1 {
  gap: 1rem;
}

.gap-2 {
  gap: 2rem;
}

.gap-5 {
  gap: 5rem;
}

// main axis
.space-between {
  justify-content: space-between;
}

.space-evenly {
  justify-content: space-evenly;
}

.space-around {
  justify-content: space-around;
}

.justify-start {
  justify-content: start;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: end;
}

// cross axis
.align-start {
  align-items: start;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: end;
}

// others
.full-center {
  align-items: center;
  justify-content: center;
}

.hidden {
  display: none;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

// links
.social-links {
  display: flex;
  align-items: center;
  gap: 0.73rem;
  margin-top: 1.5rem;
}

.social-links path {
  transition: fill 0.3s ease;
  fill: var(--blue-400);
}

.social-links a:hover svg path {
  fill: var(--cyan-200);
}

// resizing
@media (max-width: 768px) {
  .row {
    flex-direction: column; /* Switch to column layout for smaller screens */
  }

  .column {
    width: 100%; /* Make each column occupy full width */
  }
}

// animations
@keyframes smoothRgbTextFlash {
  0% {
    background-position: 0% 0;
  }
  100% {
    background-position: 100% 0;
  }
}

.smoothColour {
  &:hover {
    display: inline-block; /* Ensures the element wraps the text content */
    background: linear-gradient(
      60deg,
      rgb(216, 13, 13),
      rgb(219, 146, 11),
      rgb(207, 207, 15),
      rgb(8, 121, 8),
      rgb(11, 205, 205),
      rgb(8, 8, 206),
      rgb(205, 102, 205),
      rgb(132, 32, 179),
      rgb(207, 103, 207),
      rgb(10, 10, 213),
      rgb(10, 208, 208),
      rgb(6, 131, 6),
      rgb(202, 202, 15),
      rgb(225, 150, 10),
      rgb(202, 16, 16),
      rgb(200, 8, 8)
    );
    background-size: 1600%; /* Make sure the background size covers the entire gradient */
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    // transition: background 0.5s ease-in-out;
    animation: smoothRgbTextFlash 25s infinite linear;
  }
}

@keyframes fastRgbTextFlash {
  0% {
    background-position: 0% 0;
  }
  100% {
    background-position: 100% 0;
  }
}

.fastColour {
  &:hover {
    display: inline-block; /* Ensures the element wraps the text content */
    background: linear-gradient(
      60deg,
      rgb(216, 13, 13),
      rgb(219, 146, 11),
      rgb(207, 207, 15),
      rgb(8, 121, 8),
      rgb(11, 205, 205),
      rgb(8, 8, 206),
      rgb(205, 102, 205),
      rgb(132, 32, 179),
      rgb(207, 103, 207),
      rgb(10, 10, 213),
      rgb(10, 208, 208),
      rgb(6, 131, 6),
      rgb(202, 202, 15),
      rgb(225, 150, 10),
      rgb(202, 16, 16),
      rgb(161, 4, 4)
    );
    background-size: 1550%; /* Make sure the background size covers the entire gradient */
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    // transition: background 0.5s ease-in-out;
    animation: fastRgbTextFlash 5s infinite linear;
  }
}
