/* You can add global styles to this file, and also import other style files */
@import "./styles/variables.scss";
@import "./styles/theme-overrides.scss";

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

html,
body,
p,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  color: var(--secondary-color);
}

html,
body,
app-root {
  height: 100%;
}

app-root {
  display: flex;
  flex-direction: column;
}

// set font
body {
  font-family: "Inter", sans-serif;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

// components

// scroll bar
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--secondary-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--highlight-1);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--secondary-bg);
}

// buttons
.primary-borderless-button {
  padding-right: 16px;
  padding-left: 16px;
  padding-top: 8px;

  border-bottom: 2px solid var(--secondary-color);

  text-decoration: none;
  text-align: center;
  color: var(--tertiary-color);
}

.primary-borderless-button:hover {
  background-color: var(--tertiary-bg);
  color: var(--primary-color);
}
.primary-borderless-button.active-link {
  font-weight: bold;
  background-color: var(--secondary-bg);
  color: var(--secondary-color);
}

.primary-rounded-button {
  padding-left: 36px;
  padding-right: 36px;
  padding-top: 8px;
  padding-bottom: 8px;

  border: 1.5px solid var(--primary-color);
  border-radius: 36px;

  text-decoration: none;
  color: var(--primary-color);

  text-align: center;
}

.primary-rounded-button:hover,
.primary-rounded-button.active-link {
  color: white;
  border-color: white;
  background-color: var(--primary-color);
}

.primary-square-button {
  margin: 16px;

  padding-left: 36px;
  padding-right: 36px;
  padding-top: 12px;
  padding-bottom: 12px;

  border: 1.5px solid black;
  border-radius: 16px;

  background-color: var(--primary-color);

  text-decoration: none;
  font-weight: 700;
  font-size: large;
  color: black;

  text-align: center;
}

.primary-square-button:hover,
.primary-square-button.active-link {
  color: var(--primary-color);
  border: 1.5px solid var(--primary-color);
  background-color: black;
}

.secondary-square-button {
  display: inline-block;

  margin-top: 16px;
  margin-bottom: 16px;

  padding-left: 24px;
  padding-right: 24px;
  padding-top: 12px;
  padding-bottom: 12px;

  // border: 1.5px solid var(--black);
  border-radius: 8px;

  background-color: var(--secondary-bg);

  text-decoration: none;
  font-weight: 700;
  font-size: large;
  color: var(--secondary-color);

  text-align: center;
}

.secondary-square-button:hover,
.secondary-square-button.active-link {
  background-color: var(--tertiary-color);
}

// anchor links
.white-link-text {
  font-size: 2.5rem;
  color: white;
}

.white-link-text:hover {
  color: black;
}

// padding
.px-4 {
  padding-left: 4px;
  padding-right: 4px;
}

.py-4 {
  padding-top: 4px;
  padding-bottom: 4px;
}

.px-8 {
  padding-left: 8px;
  padding-right: 8px;
}

.py-8 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.px-16 {
  padding-left: 16px;
  padding-right: 16px;
}

.py-16 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.px-36 {
  padding-left: 36px;
  padding-right: 36px;
}

.py-36 {
  padding-top: 36px;
  padding-bottom: 36px;
}

.px-64 {
  padding-left: 64px;
  padding-right: 64px;
}

.py-64 {
  padding-top: 64px;
  padding-bottom: 64px;
}

// margin
.mt-4 {
  margin-top: 4px;
}

.mb-4 {
  margin-bottom: 4px;
}

.mt-8 {
  margin-top: 8px;
}

.mb-8 {
  margin-bottom: 8px;
}

.mt-16 {
  margin-top: 16px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mt-36 {
  margin-top: 36px;
}

.mb-36 {
  margin-bottom: 36px;
}

// gap
.gap-02 {
  gap: 0.2rem;
}

.gap-05 {
  gap: 0.5rem;
}

.gap-1 {
  gap: 1rem;
}

.gap-2 {
  gap: 2rem;
}

.gap-4 {
  gap: 4rem;
}

.gap-8 {
  gap: 8rem;
}

// main axis
.space-between {
  justify-content: space-between;
}

.space-evenly {
  justify-content: space-evenly;
}

.space-around {
  justify-content: space-around;
}

.justify-start {
  justify-content: start;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: end;
}

// cross axis
.align-start {
  align-items: start;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: end;
}

// others
.full-center {
  align-items: center;
  justify-content: center;
}

.hidden {
  display: none;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

// resizing
@media (max-width: 768px) {
  .row {
    flex-direction: column; /* Switch to column layout for smaller screens */
  }

  .column {
    width: 100%; /* Make each column occupy full width */
  }

  .gap-4 {
    gap: 2rem;
  }

  .gap-8 {
    gap: 3rem;
  }

  .px-64 {
    padding-left: 24px;
    padding-right: 24px;
  }

  .py-64 {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .primary-square-button {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media (max-width: 500px) {
  .gap-4 {
    gap: 0.5rem !important;
  }

  .gap-8 {
    gap: 1rem !important;
  }
}

// others
.full-center {
  align-items: center;
  justify-content: center;
}

.hidden {
  display: none;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

// animations
@keyframes smoothRgbTextFlash {
  0% {
    background-position: 0% 0;
  }
  100% {
    background-position: 100% 0;
  }
}

.smoothColour {
  &:hover {
    display: inline-block; /* Ensures the element wraps the text content */
    background: linear-gradient(
      60deg,
      rgb(216, 13, 13),
      rgb(219, 146, 11),
      rgb(207, 207, 15),
      rgb(8, 121, 8),
      rgb(11, 205, 205),
      rgb(8, 8, 206),
      rgb(205, 102, 205),
      rgb(132, 32, 179),
      rgb(207, 103, 207),
      rgb(10, 10, 213),
      rgb(10, 208, 208),
      rgb(6, 131, 6),
      rgb(202, 202, 15),
      rgb(225, 150, 10),
      rgb(202, 16, 16),
      rgb(200, 8, 8)
    );
    background-size: 1600%; /* Make sure the background size covers the entire gradient */
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    // transition: background 0.5s ease-in-out;
    animation: smoothRgbTextFlash 25s infinite linear;
  }
}

@keyframes fastRgbTextFlash {
  0% {
    background-position: 0% 0;
  }
  100% {
    background-position: 100% 0;
  }
}

.fastColour {
  &:hover {
    display: inline-block; /* Ensures the element wraps the text content */
    background: linear-gradient(
      60deg,
      rgb(216, 13, 13),
      rgb(219, 146, 11),
      rgb(207, 207, 15),
      rgb(8, 121, 8),
      rgb(11, 205, 205),
      rgb(8, 8, 206),
      rgb(205, 102, 205),
      rgb(132, 32, 179),
      rgb(207, 103, 207),
      rgb(10, 10, 213),
      rgb(10, 208, 208),
      rgb(6, 131, 6),
      rgb(202, 202, 15),
      rgb(225, 150, 10),
      rgb(202, 16, 16),
      rgb(161, 4, 4)
    );
    background-size: 1550%; /* Make sure the background size covers the entire gradient */
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    // transition: background 0.5s ease-in-out;
    animation: fastRgbTextFlash 5s infinite linear;
  }
}

// @keyframes borderRgbFlash {
//   0% {
//     background-position: 0% 0;
//   }
//   100% {
//     background-position: 100% 0;
//   }
// }

// .fastBorderColourCircular {
//   position: relative;
//   display: inline-block;

//   &:hover::before {
//     content: "";
//     position: absolute;
//     top: -2px;
//     left: -2px;
//     right: -2px;
//     bottom: -2px;
//     background: linear-gradient(
//       60deg,
//       transparent,
//       transparent,
//       transparent,
//       rgb(255, 0, 0),
//       rgb(255, 128, 0),
//       rgb(255, 255, 0),
//       rgb(0, 255, 0),
//       rgb(0, 255, 255),
//       rgb(0, 0, 255),
//       rgb(255, 0, 255),
//       rgb(128, 0, 255),
//       rgb(255, 0, 0),
//       transparent,
//       transparent,
//       transparent
//     );
//     background-size: 1000%;
//     border-radius: 50%; /* Matches the profile image's border-radius */
//     z-index: -1;
//     animation: borderRgbFlash 1.25s alternate-reverse ease-out;
//   }
// }

// .fastBorderColourCard {
//   position: relative;
//   display: inline-block;

//   &:hover::before {
//     content: "";
//     position: absolute;
//     top: -2px;
//     left: -2px;
//     right: -2px;
//     bottom: -2px;
//     background: linear-gradient(
//       60deg,
//       transparent,
//       transparent,
//       transparent,
//       rgb(255, 0, 0),
//       rgb(255, 128, 0),
//       rgb(255, 255, 0),
//       rgb(0, 255, 0),
//       rgb(0, 255, 255),
//       rgb(0, 0, 255),
//       rgb(255, 0, 255),
//       rgb(128, 0, 255),
//       rgb(255, 0, 0),
//       transparent,
//       transparent,
//       transparent
//     );
//     background-size: 2000%;
//     border-radius: 1%; /* Matches the profile image's border-radius */
//     z-index: -1;
//     animation: borderRgbFlash 1.25s alternate-reverse ease-out;
//   }
// }
