<div class="wrapper mt-15 fastBorderColourCard">
  <p-card header="{{ cardInfo.header }}">
    <ng-template pTemplate="header">
      <img class="image" alt="Card" src="{{ cardInfo.imagePath }}" />
    </ng-template>
    <p>{{ cardInfo.content }}</p>
    <ng-template pTemplate="footer">
      <a
        [routerLink]="cardInfo.hyperlink"
        aria-label="More Info"
        routerLinkActive="active"
      >
        <!-- <a
        aria-label="More Info"
        [routerLink]="cardInfo.hyperlink"
        fragment="{{ cardInfo.fragment }}"
        routerLinkActive="active"
        target="_top"
        rel="noopener"
      > -->
        <p-button label="More Info" class="w-full" styleClass="w-full" />
      </a>
    </ng-template>
  </p-card>
</div>
